[Bb]in/
[Oo]bj/

*.user
*.suo
*.userosscache
*.sln.docstates

*.log

.vscode/

.idea/
*.sln.iml

.DS_Store
Thumbs.db

*.nupkg
*.snupkg
*.nuspec
packages/
project.lock.json
project.fragment.lock.json

wwwroot/dist/
node_modules/
bower_components/

TestResults/
*.coverage
*.coveragexml
*.testresult

*.dbmdl
*.jfm
_ReSharper*/
*.vspscc
*.vssscc
*.psess
*.vsp
*.vsmdi

*.tmp
*.bak
*.swp
*.orig
*.rej
*.pid

.idea/
.vs/